

<section data-barba="wrapper">
    <!-- put here content that will not change
    between your pages, like <header> or <nav> -->
  
    <main data-barba="container" data-barba-namespace="{{slug}}" style="height: 80vh; padding-top: 100px;">
      <!-- put here the content you wish to change
      between your pages, like your main content <h1> or <p> -->
        {{ partial:sections/{{section}} }}
        
    </main>
  
    <!-- put here content that will not change
    between your pages, like <footer> -->
    </section>