<header class="main-header">
    <div class="main-header__top">
        <div class="main-header__top-inner">
            <div class="main-header__top-left">
                <ul class="list-unstyled main-header__contact-list">
                    <li>
                        <div class="icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="text">
                            <p>30 Commercial Road Fratton, Australia</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="text">
                            <p><a href="mailto:needhelp@company.com">needhelp@company.com</a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="main-header__top-right">
                <div class="main-header__top-time">
                    <p>Mon - Sat: 8.00 am - 7.00 pm</p>
                </div>
                <div class="main-header__social">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-menu">
        <div class="main-menu__wrapper">
            <div class="main-menu__wrapper-inner">
                <div class="main-menu__left">
                    <div class="main-menu__logo">
                        <a href="index.html"><img src="assets/images/resources/logo-1.png" alt=""></a>
                    </div>
                </div>
                <div class="main-menu__main-menu-box">
                    <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                    <ul class="main-menu__list">
                        <li class="dropdown current">
                            <a href="index.html">Home </a>
                            <ul class="shadow-box">
                                <li><a href="index.html">Home One</a></li>
                                <li><a href="index2.html">Home Two</a></li>
                                <li><a href="index3.html">Home Three</a></li>
                                <li class="dropdown">
                                    <a href="#">Header Styles</a>
                                    <ul>
                                        <li><a href="index.html">Header One</a></li>
                                        <li><a href="index2.html">Header Two</a></li>
                                        <li><a href="index3.html">Header Three</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">Pages</a>
                            <ul class="shadow-box">
                                <li><a href="services.html">Services</a>
                                </li>
                                <li><a href="the-building.html">The Building</a>
                                </li>
                                <li><a href="agents.html">Agents</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Appartments</a>
                            <ul class="shadow-box">
                                <li><a href="apartments.html">Apartments</a></li>
                                <li><a href="apartment-details.html">Apartment Details</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">News</a>
                            <ul class="shadow-box">
                                <li><a href="news.html">News</a></li>
                                <li><a href="news-details.html">News Details</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="main-menu__right">
                    <div class="main-menu__search-btn-box">
                        <div class="main-menu__search-box">
                            <a href="#" class="main-menu__search search-toggler icon-magnifying-glass"></a>
                        </div>
                        <div class="main-menu__btn-box">
                            <a href="contact.html" class="thm-btn main-menu__btn">Schedule a Visit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->
