<!--Floor Plan Start-->
<section class="floor-plan" style="padding-top: 100px;">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Villa plans</span>
            <h2 class="section-title__title">Apartment plans</h2>
            <p class="floor-plan__text">Retro four loko ethical, distillery lomo meh mixtape vice plaid palo
                santo
                live-edge ugh banjo marfa lyft. <br> Pour-over distillery keytar activated charcoal. Snackwave
                blue
                bottle bespoke af farm-to-table <br> 3 wolf moon, beard helvetica godard hell of. Schli hot
                chicken
                kombucha.</p>
        </div>
        <div class="floor-plan__main-tab-box tabs-box">
            <ul class="tab-buttons clearfix list-unstyled">
                <li data-tab="#penthouse" class="tab-btn active-btn"><span>Penthouse</span></li>
                <li data-tab="#stuido" class="tab-btn"><span>Stuido</span></li>
                <li data-tab="#duplex" class="tab-btn"><span>Duplex</span></li>
            </ul>
            <div class="tabs-content">
                <!--tab-->
                <div class="tab active-tab" id="penthouse">
                    <div class="floor-plan__tab-content-inner">
                        <div class="floor-plan__tab-content-left">
                            <ul class="list-unstyled floor-plan__tab-content-details">
                                <li>
                                    <p>Total area</p>
                                    <span>2800 Sq. Ft</span>
                                </li>
                                <li>
                                    <p>Floor no.</p>
                                    <span>2nd</span>
                                </li>
                                <li>
                                    <p>Current status</p>
                                    <span>Available</span>
                                </li>
                                <li>
                                    <p>No. of rooms</p>
                                    <span>04</span>
                                </li>
                                <li>
                                    <p>Parking available</p>
                                    <span>Yes</span>
                                </li>
                                <li>
                                    <p>Price from</p>
                                    <span>$4500</span>
                                </li>
                            </ul>
                        </div>
                        <div class="floor-plan__tab-content-righ">
                            <img src="assets/images/resources/floor-plan-tab-content-img-1.png" alt="">
                        </div>
                    </div>
                </div>
                <!--tab-->
                <div class="tab " id="stuido">
                    <div class="floor-plan__tab-content-inner">
                        <div class="floor-plan__tab-content-left">
                            <ul class="list-unstyled floor-plan__tab-content-details">
                                <li>
                                    <p>Total area</p>
                                    <span>2800 Sq. Ft</span>
                                </li>
                                <li>
                                    <p>Floor no.</p>
                                    <span>2nd</span>
                                </li>
                                <li>
                                    <p>Current status</p>
                                    <span>Available</span>
                                </li>
                                <li>
                                    <p>No. of rooms</p>
                                    <span>04</span>
                                </li>
                                <li>
                                    <p>Parking available</p>
                                    <span>Yes</span>
                                </li>
                                <li>
                                    <p>Price from</p>
                                    <span>$4500</span>
                                </li>
                            </ul>
                        </div>
                        <div class="floor-plan__tab-content-righ">
                            <img src="assets/images/resources/floor-plan-tab-content-img-1.png" alt="">
                        </div>
                    </div>
                </div>
                <!--tab-->
                <div class="tab " id="duplex">
                    <div class="floor-plan__tab-content-inner">
                        <div class="floor-plan__tab-content-left">
                            <ul class="list-unstyled floor-plan__tab-content-details">
                                <li>
                                    <p>Total area</p>
                                    <span>2800 Sq. Ft</span>
                                </li>
                                <li>
                                    <p>Floor no.</p>
                                    <span>2nd</span>
                                </li>
                                <li>
                                    <p>Current status</p>
                                    <span>Available</span>
                                </li>
                                <li>
                                    <p>No. of rooms</p>
                                    <span>04</span>
                                </li>
                                <li>
                                    <p>Parking available</p>
                                    <span>Yes</span>
                                </li>
                                <li>
                                    <p>Price from</p>
                                    <span>$4500</span>
                                </li>
                            </ul>
                        </div>
                        <div class="floor-plan__tab-content-righ">
                            <img src="assets/images/resources/floor-plan-tab-content-img-1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Floor Plan End-->

<a href="/room-details"  class="scroll-to-target scroll-to-back"><i class="icon-left-arrow"></i></a>

<a href="/gallery"  class="scroll-to-target scroll-to-top"><i class="icon-right-arrow"></i></a>