<!--Gallery Two Start-->
<section class="gallery-two" style="padding-top:100px">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">look photos</span>
            <h2 class="section-title__title">Photo gallery</h2>
        </div>
        <div class="row masonary-layout">
            <!--Gallery Two Single Start-->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="gallery-two__single">
                    <div class="gallery-two__img">
                        <img src="assets/images/gallery/gallery-2-1.jpg" alt="">
                        <div class="gallery-two__icon">
                            <a class="img-popup" href="assets/images/gallery/gallery-2-1.jpg"><span class="fa fa-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Two Single End-->
            <!--Gallery Two Single Start-->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="gallery-two__single">
                    <div class="gallery-two__img">
                        <img src="assets/images/gallery/gallery-2-3.jpg" alt="">
                        <div class="gallery-two__icon">
                            <a class="img-popup" href="assets/images/gallery/gallery-2-2.jpg"><span class="fa fa-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Two Single End-->
            <!--Gallery Two Single Start-->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="gallery-two__single">
                    <div class="gallery-two__img">
                        <img src="assets/images/gallery/gallery-2-4.jpg" alt="">
                        <div class="gallery-two__icon">
                            <a class="img-popup" href="assets/images/gallery/gallery-2-3.jpg"><span class="fa fa-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Two Single End-->
            <!--Gallery Two Single Start-->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="gallery-two__single">
                    <div class="gallery-two__img">
                        <img src="assets/images/gallery/gallery-2-2.jpg" alt="">
                        <div class="gallery-two__icon">
                            <a class="img-popup" href="assets/images/gallery/gallery-2-4.jpg"><span class="fa fa-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Two Single End-->
            <!--Gallery Two Single Start-->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="gallery-two__single">
                    <div class="gallery-two__img">
                        <img src="assets/images/gallery/gallery-2-5.jpg" alt="">
                        <div class="gallery-two__icon">
                            <a class="img-popup" href="assets/images/gallery/gallery-2-5.jpg"><span class="fa fa-plus"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Two Single End-->
        </div>
    </div>
</section>
<!--Gallery Two End-->

<!-- <div class="gallery-two" style="padding-top:100px">
    <script async src="https://static.theasys.io/embed.js" data-theasys="YSrwT0lkPLqdPg4iVFdyRwGoR8QVOn" data-height="450"></script>
</div> -->


<a href="/room-details"  class="scroll-to-target scroll-to-back"><i class="icon-left-arrow"></i></a>

<a href="/map"  class="scroll-to-target scroll-to-top"><i class="icon-right-arrow"></i></a>

