<!--Main Slider Start-->
<section class="main-slider clearfix" style="height: 100vh">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
        "effect": "fade",
        "pagination": {
        "el": "#main-slider-pagination",
        "type": "bullets",
        "clickable": true
        },
        "navigation": {
        "nextEl": "#main-slider__swiper-button-next",
        "prevEl": "#main-slider__swiper-button-prev"
        },
        "autoplay": {
        "delay": 5000
        }}'>
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(assets/images/backgrounds/main-slider-1-1.jpg);"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="main-slider__content">
                                <h2 class="main-slider__title">Modern <br> Residential <br> Apartments</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        




        </div>



        

    </div>
</section>
<!--Main Slider End-->
<a href="/overview"  class="scroll-to-target scroll-to-top"><i class="icon-right-arrow"></i></a>