<!--Main Slider Start-->
<section class="main-slider clearfix" >
    <div class="swiper-container thm-swiper__slider" >
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="image-layer" style="background-image: url(assets/images/resources/heri_ngong.jpeg);"></div>
                <!-- /.image-layer -->
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="main-slider__content">
                                <h2 class="main-slider__title">Modern <br> Residential <br> Apartments</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        




        </div>



        

    </div>
</section>
<!--Main Slider End-->
<a href="/overview"  class="scroll-to-target scroll-to-top"><i class="icon-right-arrow"></i></a>

