<!--Neighborhoods Start-->
<section class="neighborhoods" style="padding-top: 100px;">
    <div class="neighborhoods-bg" style="background-image: url(assets/images/backgrounds/neighborhoods-bg.jpg);"></div>
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Nearby areas</span>
            <h2 class="section-title__title">Neighborhoods</h2>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="neighborhoods__left">
                    <div class="neighborhoods__faq">
                        <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4>Restaurants</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod
                                            tempor inci simply free.</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>Central park</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod
                                            tempor inci simply free.</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>Shopping center</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod
                                            tempor inci simply free.</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>Hospitals</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod
                                            tempor inci simply free.</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion last-child">
                                <div class="accrodion-title">
                                    <h4>Play grounds</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>Lorem ipsum dolor sit amet, consecte adipiscing elit, sed do eiusmod
                                            tempor inci simply free.</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="neighborhoods__right">
                    <div class="neighborhoods__img-box">
                        <div class="neighborhoods__img">
                            <img src="assets/images/resources/neighborhoods-img-1.jpg" alt="">
                        </div>
                        <div class="neighborhoods__location-1">
                            <div class="neighborhoods__map-markar"></div>
                            <div class="neighborhoods__popup-box">
                                <div class="neighborhoods__popup">
                                    <div class="neighborhoods__popup-inner">
                                        <h5 class="neighborhoods__popup-title">Restauant</h5>
                                        <p class="neighborhoods__popup-text">Metropolitan Opera House
                                            Lincoln Center
                                            Theater New York</p>
                                        <span class="neighborhoods__popup-km">13.5KM</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="neighborhoods__location-1 neighborhoods__location-2">
                            <div class="neighborhoods__map-markar neighborhoods__map-markar-2"></div>
                            <div class="neighborhoods__popup-box">
                                <div class="neighborhoods__popup">
                                    <div class="neighborhoods__popup-inner">
                                        <h5 class="neighborhoods__popup-title">Central park</h5>
                                        <p class="neighborhoods__popup-text">Metropolitan Opera House
                                            Lincoln Center
                                            Theater New York</p>
                                        <span class="neighborhoods__popup-km">13.5KM</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="neighborhoods__location-1 neighborhoods__location-3">
                            <div class="neighborhoods__map-markar neighborhoods__map-markar-3"></div>
                            <div class="neighborhoods__popup-box">
                                <div class="neighborhoods__popup">
                                    <div class="neighborhoods__popup-inner">
                                        <h5 class="neighborhoods__popup-title">Shopping center</h5>
                                        <p class="neighborhoods__popup-text">Metropolitan Opera House
                                            Lincoln Center
                                            Theater New York</p>
                                        <span class="neighborhoods__popup-km">13.5KM</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="neighborhoods__location-1 neighborhoods__location-4">
                            <div class="neighborhoods__map-markar neighborhoods__map-markar-4"></div>
                            <div class="neighborhoods__popup-box">
                                <div class="neighborhoods__popup">
                                    <div class="neighborhoods__popup-inner">
                                        <h5 class="neighborhoods__popup-title">Hospitals</h5>
                                        <p class="neighborhoods__popup-text">Metropolitan Opera House
                                            Lincoln Center
                                            Theater New York</p>
                                        <span class="neighborhoods__popup-km">13.5KM</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Neighborhoods End-->

<a href="/virtual-tour"  class="scroll-to-target scroll-to-back"><i class="icon-left-arrow"></i></a>

<a href="/reviews"  class="scroll-to-target scroll-to-top"><i class="icon-right-arrow"></i></a>

