<!--About One Start-->
<section class="about-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-one__left wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
                    <div class="about-one__big-text">Apartments</div>
                    <div class="about-one__img-box">
                        <div class="about-one__img-one">
                            <img src="assets/images/resources/about-one-img-1.jpg" alt="">
                        </div>
                        <div class="about-one__img-two">
                            <img src="assets/images/resources/about-one-img-2.jpg" alt="">
                        </div>
                        <div class="about-one__shape-1 float-bob-y"></div>
                        <div class="about-one__shape-2">
                            <img src="assets/images/shapes/about-one-shape-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-one__right">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">the building overview</span>
                        <h2 class="section-title__title">Modern & premium apartments</h2>
                    </div>
                    <p class="about-one__text">Interior of volumes, space, air, proportion, with certain light
                        and mood. These interiors are meant to last forever.
                        you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                    <ul class="list-unstyled about-one__points">
                        <li>
                            <div class="icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="text">
                                <p>Lorem ipsum dolor sit amet</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="text">
                                <p>Sed tempor arcu non ligula convallis</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="text">
                                <p>Fusce sodales lacus sollicitudin</p>
                            </div>
                        </li>
                    </ul>
                    <a href="/floor-plan" class="thm-btn about-one__btn">More Detail</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About One End-->

<a href="/floor-plan"  class="scroll-to-target "><i class="icon-right-arrow"></i></a>