<section class="measurement" style="padding-top: 100px;">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">rooms details</span>
            <h2 class="section-title__title">Room dimensions</h2>
        </div>
        <div class="measurement__main-tab-box tabs-box">
            <ul class="tab-buttons clearfix list-unstyled">
                <li data-tab="#living-room" class="tab-btn">
                    <div class="measurement__single">
                        <div class="measurement__icon">
                            <span class="icon-living-room"></span>
                        </div>
                        <h4 class="measurement__title">Living room</h4>
                    </div>
                </li>
                <li data-tab="#kitchen" class="tab-btn active-btn">
                    <div class="measurement__single">
                        <div class="measurement__icon">
                            <span class="icon-kitchen"></span>
                        </div>
                        <h4 class="measurement__title">Kitchen</h4>
                    </div>
                </li>
                <li data-tab="#bedroom" class="tab-btn">
                    <div class="measurement__single">
                        <div class="measurement__icon">
                            <span class="icon-bedroom"></span>
                        </div>
                        <h4 class="measurement__title">Bedroom</h4>
                    </div>
                </li>
                <li data-tab="#bathroom" class="tab-btn">
                    <div class="measurement__single">
                        <div class="measurement__icon">
                            <span class="icon-public-toilet"></span>
                        </div>
                        <h4 class="measurement__title">Bathroom</h4>
                    </div>
                </li>
                <li data-tab="#terrace" class="tab-btn">
                    <div class="measurement__single">
                        <div class="measurement__icon">
                            <span class="icon-chair"></span>
                        </div>
                        <h4 class="measurement__title">Terrace</h4>
                    </div>
                </li>
                <li data-tab="#bedroom-two" class="tab-btn">
                    <div class="measurement__single">
                        <div class="measurement__icon">
                            <span class="icon-bedroom"></span>
                        </div>
                        <h4 class="measurement__title">Bedroom</h4>
                    </div>
                </li>
            </ul>

            <div class="tabs-content">
                <!--tab-->
                <div class="tab" id="living-room">
                    <div class="measurement__bottom">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6">
                                <div class="measurement__bottom-left">
                                    <h4 class="measurement__bottom-title">Living room</h4>
                                    <p class="measurement__bottom-text">Proin tempor magna eget luctus
                                        sollicitudin.
                                        Etiam
                                        sagittis dolor felis, sit amet tincidunt urna suscipit sed. Suspendisse
                                        gravida
                                        sit
                                        amet ligula ac pharetra. Nulla ut lorem quam.</p>
                                    <div class="measurement__bottom-points-box">
                                        <ul class="list-unstyled measurement__bottom-points">
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Dimension 12,00 Sp.ft</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Marble flooring</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled measurement__bottom-points measurement__bottom-points-two">
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Wooden furnitures</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Fancy windoes</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6">
                                <div class="measurement__bottom-right">
                                    <div class="measurement__bottom-img">
                                        <img src="assets/images/resources/measurement-bottom-img-1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab-->
                <div class="tab active-tab" id="kitchen">
                    <div class="measurement__bottom">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6">
                                <div class="measurement__bottom-left">
                                    <h4 class="measurement__bottom-title">Kitchen</h4>
                                    <p class="measurement__bottom-text">Proin tempor magna eget luctus
                                        sollicitudin.
                                        Etiam
                                        sagittis dolor felis, sit amet tincidunt urna suscipit sed. Suspendisse
                                        gravida
                                        sit
                                        amet ligula ac pharetra. Nulla ut lorem quam.</p>
                                    <div class="measurement__bottom-points-box">
                                        <ul class="list-unstyled measurement__bottom-points">
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Dimension 12,00 Sp.ft</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Marble flooring</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled measurement__bottom-points measurement__bottom-points-two">
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Wooden furnitures</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Fancy windoes</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6">
                                <div class="measurement__bottom-right">
                                    <div class="measurement__bottom-img">
                                        <img src="assets/images/resources/measurement-bottom-img-2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab-->
                <div class="tab" id="bedroom">
                    <div class="measurement__bottom">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6">
                                <div class="measurement__bottom-left">
                                    <h4 class="measurement__bottom-title">Bedroom</h4>
                                    <p class="measurement__bottom-text">Proin tempor magna eget luctus
                                        sollicitudin.
                                        Etiam
                                        sagittis dolor felis, sit amet tincidunt urna suscipit sed. Suspendisse
                                        gravida
                                        sit
                                        amet ligula ac pharetra. Nulla ut lorem quam.</p>
                                    <div class="measurement__bottom-points-box">
                                        <ul class="list-unstyled measurement__bottom-points">
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Dimension 12,00 Sp.ft</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Marble flooring</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled measurement__bottom-points measurement__bottom-points-two">
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Wooden furnitures</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Fancy windoes</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6">
                                <div class="measurement__bottom-right">
                                    <div class="measurement__bottom-img">
                                        <img src="assets/images/resources/measurement-bottom-img-3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab-->
                <div class="tab" id="bathroom">
                    <div class="measurement__bottom">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6">
                                <div class="measurement__bottom-left">
                                    <h4 class="measurement__bottom-title">Bathroom</h4>
                                    <p class="measurement__bottom-text">Proin tempor magna eget luctus
                                        sollicitudin.
                                        Etiam
                                        sagittis dolor felis, sit amet tincidunt urna suscipit sed. Suspendisse
                                        gravida
                                        sit
                                        amet ligula ac pharetra. Nulla ut lorem quam.</p>
                                    <div class="measurement__bottom-points-box">
                                        <ul class="list-unstyled measurement__bottom-points">
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Dimension 12,00 Sp.ft</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Marble flooring</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled measurement__bottom-points measurement__bottom-points-two">
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Wooden furnitures</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Fancy windoes</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6">
                                <div class="measurement__bottom-right">
                                    <div class="measurement__bottom-img">
                                        <img src="assets/images/resources/measurement-bottom-img-4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab-->
                <div class="tab" id="terrace">
                    <div class="measurement__bottom">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6">
                                <div class="measurement__bottom-left">
                                    <h4 class="measurement__bottom-title">Terrace</h4>
                                    <p class="measurement__bottom-text">Proin tempor magna eget luctus
                                        sollicitudin.
                                        Etiam
                                        sagittis dolor felis, sit amet tincidunt urna suscipit sed. Suspendisse
                                        gravida
                                        sit
                                        amet ligula ac pharetra. Nulla ut lorem quam.</p>
                                    <div class="measurement__bottom-points-box">
                                        <ul class="list-unstyled measurement__bottom-points">
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Dimension 12,00 Sp.ft</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Marble flooring</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled measurement__bottom-points measurement__bottom-points-two">
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Wooden furnitures</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Fancy windoes</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6">
                                <div class="measurement__bottom-right">
                                    <div class="measurement__bottom-img">
                                        <img src="assets/images/resources/measurement-bottom-img-5.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab-->
                <div class="tab" id="bedroom-two">
                    <div class="measurement__bottom">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6">
                                <div class="measurement__bottom-left">
                                    <h4 class="measurement__bottom-title">Bedroom</h4>
                                    <p class="measurement__bottom-text">Proin tempor magna eget luctus
                                        sollicitudin.
                                        Etiam
                                        sagittis dolor felis, sit amet tincidunt urna suscipit sed. Suspendisse
                                        gravida
                                        sit
                                        amet ligula ac pharetra. Nulla ut lorem quam.</p>
                                    <div class="measurement__bottom-points-box">
                                        <ul class="list-unstyled measurement__bottom-points">
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Dimension 12,00 Sp.ft</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Marble flooring</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <ul class="list-unstyled measurement__bottom-points measurement__bottom-points-two">
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Wooden furnitures</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <i class="fa fa-check"></i>
                                                </div>
                                                <div class="text">
                                                    <p>Fancy windoes</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6">
                                <div class="measurement__bottom-right">
                                    <div class="measurement__bottom-img">
                                        <img src="assets/images/resources/measurement-bottom-img-6.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Measurement End-->

<a href="/property-type"  class="scroll-to-target scroll-to-top"><i class="icon-left-arrow"></i></a>
<a href="/floor-plan"  class="scroll-to-target scroll-to-top"><i class="icon-right-arrow"></i></a>